[submodule "minecraft-data"]
	path = minecraft-data
	url = https://github.com/PrismarineJS/minecraft-data.git
[submodule "node-minecraft-data"]
	path = upstream
	url = https://github.com/PrismarineJS/node-minecraft-data